ion-content {
 
  --background: linear-gradient(0deg, rgba(27,212,214,1) 0%, rgba(255,255,255,1) 100%);
}

.city {
  text-align: center;
}

.temperature {
  text-align: center;
  margin-top: 70px;
}

.grid {
  text-align: center;
}

.date {
  text-align: center;
  margin-top: 20px;
}